.container {
  text-align: center;
  font-size: 3em;
}
.card {
  margin-top: 1em;
  padding: 5rem;
}
p.card_muted_text {
  font-size: 20px;
}
p.news_muted_text {
  font-size: 23px;
}
h3.news_section {
  padding-top: 61px;
  color: cornflowerblue;
}
strong {
  color: blue;
}
.carousel_section {
  padding-top: 28px;
}
.item_url{
  color:#fff;
  text-decoration: none;
}
.item_url:hover{
  color:#fff
}

p.text-muted {
  font-size: 21px;
}
img.card-image {
  width: 100%;
}
.card-section {
  padding-top: 2em;
}
h6.cards_title {
  font-size: 21px;
}

h6.author_title {
  padding-right: 24rem;
}
.badge{
  font-size:23px;
}
body{
  font-family: 'Titillium Web', sans-serif;
}

.heading_section {
  background: antiquewhite;
  
}
p.news_date {
  float: left;
  font-size: 21px;
  padding-left: 22px;
}